FS50/Brynhild/*.vgrid
FS50/Brynhild/Results.sigurd
FS50/Brynhild/SAVE.fafnir
FS50/Brynhild/*.listing
FS50/T2/*
FS300/Brynhild/*.vgrid
FS300/Brynhild/Results.sigurd
FS300/Brynhild/SAVE.fafnir
FS300/Brynhild/*.listing
FS300/T2/*

